/**
 * @name ULTRAKILL
 * @version 1.0
 * @description ULTRAKILL
 * @author Banana Man
*/

:root {
  --backgroundImage: url('https://images5.alphacoders.com/116/1168976.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 8px;
  --backgroundOpacity: 0.65;
  --homeImage: url('https://images5.alphacoders.com/116/1168976.png');
  --homeImageSize: cover;
  --themeColor1: #DC3636;
  --themeColor2: #FF0303;
  --customFont: gg sans;
  --backgroundCode: rgb(0,0,0,0.5);
  --backgroundName: rgba(0 0 0 /.5);
}
