/**
 * @name ULTRAKILL
 * @version 2.0
 * @description MANKIND IS DEAD
 * @author Banana Man
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://images5.alphacoders.com/116/1168976.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 11px;
  --backgroundOpacity: 0.7;
  --homeImage: url('https://images5.alphacoders.com/116/1168976.png');
  --homeImageSize: cover;
  --themeColor1: #681A22;
  --themeColor2: #D61A26;
  --customFont: Open Sans;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}
